
.benefícios{
  background-color: #fff9dd;
  padding: 1px;
  align-items: baseline;
}

.caixa4 img{
  width: 800px;
  height: 450px;
  margin: 20px;
  margin-right: 100px;
  border-radius: 30px;
  background-color: #fff9dd;

}
.caixinha{
    display: flex;
    text-align: left;
    justify-content: space-between; 
    align-items: center;
    background-color: #fff9dd;
    margin: 0px;
    padding-left: 70px;
}


.linha-personalizada {
  border: none;
  list-style-type: none;
  border-radius: px;
  height: 2px;
  background: black;
  margin: auto;
  border: 0px;
  width: 1300px;
}
.lista-personalizada h2 {
  color: #edcf34;
  font-size: 40px;
  font-family: 'Inter-Bold';
}
.lista-personalizada p {
  color: #002b7f;
  font-size: 20px;
  font-family: 'Inter-Regular';
  margin-top: 10px;
  margin-bottom: 20px;
}
