.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;            
  padding-left: 100px;
  padding-right: 100px;

}
.navbar button{
  background-color: transparent;
  color: white;
  padding: 10px 40px;
  border-radius: 30px;
  font-weight: bold;
  border: white 2px solid;
  cursor: pointer;
  font-size: 20px;
}
.navbar button a{
  text-decoration: none;
  color: white;
  font-family: 'Jura-Bold'; 
}
/*classe da navbar*/
.itemnavbar{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
/*os links da navbar*/
.itemnavbar a{
  position: relative;
  padding: 10px 25px;
  margin: 5px;
  font-size: 20px;
  text-decoration: none;
  color: white;
  display: flexbox;
  font-family: 'Jura-Bold'; 
}

.itemnavbar a::after {
  content: "";
  position: absolute;
  left: 0; bottom: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, #ffffff, #ffffff, #ffffff);
  transform: scale(0);
  transform-origin: left;
  background-size: 200% 100%;
  transition: transform 0.4s;
  background-position: 100% 0;
  border-radius: 2px;
  opacity: 1;
}
.itemnavbar a.active::after {
  transform: scaleX(1);
}

.itemnavbar a:not(.active):hover::after {
  transform: scaleX(1);
}

.itemnavbar:hover a.active::after {
  transform: scaleX(0);
}

.itemnavbar a.active:hover::after {
  transform: scaleX(1);
}