.soluções{
  background-color: #fff9dd;
  padding: 50px;
  align-items: baseline;
}
.soluções h2{
  text-align: center;
  font-family: 'Inter-Bold';
  color: #002b7f;
  font-size: 40px;
}
.balões{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.balão{
  display: block;
  border: 2px solid;
  border-color: #ffea8e;
  background-color: white;
  margin: 20px;
  padding: 20px;
  width: 401px;
  height: 200px;

}
.balão img{
  width: 40px;
  height: 40px;
  padding: 0%;
}

.balão h3{
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Inter-Regular';
  font-size: 25px;
}