@font-face {
  font-family: 'Jura-Bold';
  src: url(../assets/fonts/Jura-Bold.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Jura-Regular';
  src: url(../assets/fonts/Jura-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Inter-Bold';
  src: url(../assets/fonts/Inter_18pt-Bold.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Inter-Regular';
  src: url(../assets/fonts/Inter_18pt-Regular.ttf) format('truetype');
}




body{
    margin: 0;
    padding-left: 0px;
    padding-right: 0px;
    display: flexbox;
    box-sizing: border-box;
}

h1{
  font-size: 2rem;
  margin-bottom: 20px;
  line-height: 1.4;
  font-family: "Inter-Bold";
  color: #002b7f;
  padding-bottom: 0px;
  margin-bottom: 10px;
}
p {
  padding-top: 0px;
  font-size: 1.1rem;
  line-height: 1.4;
  margin-bottom: 40px;
  font-family: sans-serif;
  margin-bottom: 40px;
  color: #002b7f;
}
.button-acessar {
  display: inline-block;
  font-size: 20px;
  background-color: #ffffff;
  color: #002b7f;
  padding: 10px 80px;
  border-radius: 30px;
  font-weight: bold;
  text-decoration: none;
  border: none;
  cursor: pointer;
  margin: none;
}
 
.soluções{
  background-color: #fff9dd;
  padding: 50px;
  align-items: baseline;
}
.soluções h2{
  text-align: center;
  font-family: 'Inter-Bold';
  color: #002b7f;
  font-size: 40px;
}
.balões{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.balão{
  display: block;
  border: 2px solid;
  border-color: #ffea8e;
  background-color: white;
  margin: 20px;
  padding: 20px;
  width: 401px;
  height: 200px;

}
.balão img{
  width: 40px;
  height: 40px;
  padding: 0%;
}
.balão h3{
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Inter-Regular';
  font-size: 25px;
}
.balão p{
  font-family: 'Inter-Regular';
  font-size: 18px;
  text-align: justify;
  margin-top: 10px;
  margin-bottom: 10px;
}
.caixa4 h2{
  background-color: aqua;
  text-align: center;
}
/*class da div com titulo 'principais beneficios'*/
.caixa4 img{
  width: 450px;
  height: 300px;
  margin: 20px;
  border-radius: 30px;

}
.caixinha{
    display: flex;
    margin: 30px;
    text-align: left;
    justify-content: space-between;
    align-items: center;
}
/*class do titulo 'serviços oferecidos',*/
.caixa5{
  background-color: #f9f9f9;
  align-items: center;
  justify-content: center;
  display: flex;
}
.lista{
  background-color: #002b7f; /* azul escuro */
  color: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  max-width: 500px;
  width: 90%;

}
.lista li{
  font-size: 18px;
  margin-bottom: 15px;
  align-items: flex-start;
  list-style: decimal inside;

}
/*class do 'experimente agora' (la ele kkkkkkkk)*/
.caixa6{
  display: flex;
    margin: 30px;
    text-align: left;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    background-color: beige;

}
.caixa6 img{
  width: 450px;
  height: 300px;
  margin: 20px;
  border-radius: 30px;
}
/*class da tela 'contatos'*/
.caixa7{
   display: flex;
    margin: 30px;
    text-align: left;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    background-color: beige;
}

