/*Essa classe é do body*/
body{
    margin: 0;
    padding-left: 0px;
    padding-right: 0px;
    display: flexbox;
}
.menu-superior{
   background-color: #edcf34;
}
/*id logo da nassau, lá em cima no cantinho esquerdo*/
#logo{
    width: 10%;
   margin: 20px;
   margin-right: 10%;
}
/*Essa classe é da div que tem a logo, o menu e o botão de acessar, bem em cima mesmo*/
.caixa1{
  display: flex;
  justify-content: space-between;
  align-items: center;            
  padding-left: 100px;
  padding-right: 100px;

}
.caixa1 button{
  background-color: transparent;
  color: white;
  padding: 10px 40px;
  border-radius: 30px;
  font-weight: bold;
  border: white 2px solid;
  cursor: pointer;
  font-size: 20px;
}
/*classe da navbar*/
.menu{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
/*os links da navbar*/
.menu a{
  display: flexbox;
  justify-content: center;
  align-items: center; 
  margin:   25px;
  font-size: 20px; 
  text-decoration: none;
  color: white;
}
/*classe da div que tem a imagem do coração e os textos*/
.caixa2{
    display: flex;
    margin: 30px;
    text-align: left;
    justify-content: space-between;
    align-items: center;
    gap: 40px;

}
h2{
    font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  line-height: 1.4;

}
p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 40px;
}
.button-acessar {
  display: inline-block;
  background-color: #ffffff;
  color: #002147;
  padding: 12px 30px;
  border-radius: 30px;
  font-weight: bold;
  text-decoration: none;
  border: none;
  cursor: pointer;
}
#img{
    border: 2px;
    border-color: red;
}
/*Classe da div que tem o titulo "saiba como podemos ajuda-los"*/
.caixa3{
  background-color: antiquewhite;
  padding: 20px;
  align-items: baseline;
}
.caixa3 h2{
  background-color: aqua;
  text-align: center;
}
.balões{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.balão{
  display: block;
  border: 2px solid;
  border-color: #002147;
  margin: 20px;
  padding: 20px;
}
.caixa4 h2{
  background-color: aqua;
  text-align: center;
}
/*class da div com titulo 'principais beneficios'*/
.caixa4 img{
  width: 450px;
  height: 300px;
  margin: 20px;
  border-radius: 30px;

}
.caixinha{
    display: flex;
    margin: 30px;
    text-align: left;
    justify-content: space-between;
    align-items: center;
}
/*class do titulo 'serviços oferecidos',*/
.caixa5{
  background-color: #f9f9f9;
  align-items: center;
  justify-content: center;
  display: flex;
}
.lista{
  background-color: #002b7f; /* azul escuro */
  color: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  max-width: 500px;
  width: 90%;

}
.lista li{
  font-size: 18px;
  margin-bottom: 15px;
  align-items: flex-start;
  list-style: decimal inside;

}
/*class do 'experimente agora' (la ele kkkkkkkk)*/
.caixa6{
  display: flex;
    margin: 30px;
    text-align: left;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    background-color: beige;

}
.caixa6 img{
  width: 450px;
  height: 300px;
  margin: 20px;
  border-radius: 30px;
}
/*class da tela 'contatos'*/
.caixa7{
   display: flex;
    margin: 30px;
    text-align: left;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    background-color: beige;
}

