@font-face {
  font-family: 'Jura-Bold';
  src: url(../assets/fonts/Jura-Bold.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Jura-Regular';
  src: url(../assets/fonts/Jura-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Inter-Bold';
  src: url(../assets/fonts/Inter_18pt-Bold.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Inter-Regular';
  src: url(../assets/fonts/Inter_18pt-Regular.ttf) format('truetype');
}




body{
    margin: 0;
    padding-left: 0px;
    padding-right: 0px;
    display: flexbox;
    box-sizing: border-box;
}

h1{
  font-size: 2rem;
  margin-bottom: 20px;
  line-height: 1.4;
  font-family: "Inter-Bold";
  color: #002b7f;
  padding-bottom: 0px;
  margin-bottom: 10px;
}
p {
  padding-top: 0px;
  font-size: 1.1rem;
  line-height: 1.4;
  margin-bottom: 40px;
  font-family: sans-serif;
  margin-bottom: 40px;
  color: #002b7f;
}


/*class da tela 'contatos'*/

